.portfolio-project-item {
    padding-top:75px;
    background:rgb(250, 246, 246);
    min-height:100vh;
}

.project-title{
    padding:10px;
    font-family: 'poppins';
}

.project-details {
    padding:10px;
    font-family: 'nunito';
}

.project-details p {
    font-size:0.9rem;
    color:black;
    padding: 5px 3%;
}

.project-link {
    text-align: center;
    font-family:'poppins';
}

.project-details img {
    width:100%;
    max-width: 480px;
}