.portfolio-project-item {
    padding-top:75px;
    background:rgb(148, 226, 124);
    min-height:100vh;
}

.project-title{
    padding:10px;
    font-family: 'poppins';
}

.project-subtitle{
    padding:5px;
    font-family: 'nunito';
}

.project-details {
    padding:10px;
    text-align: center;
    font-family: 'nunito';
}

.project-link {
    text-align: center;
    font-family:'poppins';
}

.project-details img {
    width:100%;
    max-width: 480px;
}