.introduction{
    font-family:'nunito';
}

.fullImage{
    position:relative;
}

.fullImage img{
    object-fit: cover;
    width:100%;
}

.introduction article{
    padding:20px 3% 0 3%;
    text-align: center;
}

.introduction article p{
    text-align: center;
}

.introduction article h3{
    text-align: center;
    color:rgb(65, 63, 63);
    font-family:'poppins';
}

.introduction article p span{
    color:#FF3B4E;
}

.downArrow{
    color:red;
    text-align: center;
    font-size:50px;
    font-weight: 600;
}
.downArrow:hover{
    color:pink;
}

@media(min-width:480px){
    .fullImage{
        max-width: 480px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}