.contact {
    padding:0px 4% 50px 4%;
    font-family: 'nunito';
    text-align:center;
}

.contact h3{
    text-align:center;
    padding:20px 0;
    color:rgb(31, 29, 29);
    font-family: 'poppins';
}
.contact p{
    text-align:center;
}
.contact .contact-linkedin{
    padding:10px;
    margin:10px;
    border-radius:10px;
    transition: all 0.1s;
    color:black;
    font-family: 'poppins';
}
.contact .contact-linkedin:hover{
    box-shadow: 2px 3px 1px 1px grey;
    color:rgb(65, 63, 63);
}

.contact .contact-linkedin:active{
    box-shadow: 0.2px 0.2px grey;
}