/* header and nav */
a{
    text-decoration: none;
}

header{
    z-index:2;
}

header nav{
    display:grid;
    grid-template-columns:repeat(4, 25%);
    background: linear-gradient(rgba(238, 232, 233, 0.945), rgba(255, 255, 255, 0.014));
    background-image: linear-gradient(to right top, #7594C1, #5e93b669);
    box-shadow: 0px 24px 8px -24px rgba(202, 201, 196, 0.726);
    line-height: 50px;
	position: fixed;
	top: 0;
    width: 100%;
    left: 0px;
    right:0px;
    z-index: 1;
  }
header nav a{
    font-family: 'poppins';
    /* color:rgb(80, 77, 102); */
    color:rgba(226, 226, 226, 0.986);
    text-align: center;
    font-weight:700;
    border-bottom:3px solid rgba(255, 255, 255, 0);
    transition: all 0.25s;
    font-size:0.9rem;
    text-shadow: 0.5px 2px 10px rgba(0, 0, 0, 0.2);
}
header nav a:hover{
    /* color:rgb(122, 121, 121); */
    color:rgb(66, 66, 66);
}

header nav a.underlineNav{
    border-bottom: 3px solid rgba(255, 145, 156, 0.849);
    transition: all 0.25s;
    background:rgba(255, 255, 255, 0.1);
}

@media(min-width:480px){
    header nav{
        display:grid;
        grid-template-columns:16% 16% 16% 16% auto;
        grid-column: 1 / 2;
        height:50px;
        line-height: 50px;
    }
}

@media(min-width:650px){
    header nav{
        grid-template-columns:repeat(4, 100px) auto;
    }
}

@media(min-width:880px){
    header nav{
        grid-template-columns:repeat(4, 130px) auto;
        height:60px;
        line-height: 60px;
    }
}

@media(min-width:1150px){
    header nav a {
        font-size:1rem;
    }
}