.jumbo{
    height:auto;
    width:100vw;
    max-width:100%;
    min-height: 100vh;
    background:rgba(255, 255, 255);
    background:rgb(172, 182, 166);
    
}

.title-heading{
    text-align: center;
    padding:120px 0 0 0;
    font-size: 5rem;
    font-family: 'Oxygen Mono', monospace;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.title-heading-subtitle{
    text-align:center;
    font-family: 'Oxygen Mono', monospace;
    font-size: 2.3rem;
    color:rgb(53, 50, 50);
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.underline{
    border:solid rgb(240, 97, 97) 5px;
    display:block;
    width:33.3%;
    margin:10px auto;
}

.logos-array {
margin:30px auto;
max-width:400px;
display:flex;
flex-wrap: wrap;
justify-content: center;
}

.logos-array img{
    max-height:40px;
    max-width:40px;
    margin:5px;
}

.logos-array .double-width{
    max-width:80px;
}

.logos-array .triple-width{
    max-width:120px;
}

@media(min-width:480px){
    .title-heading{
        padding:160px 0 0 0;
    }
}

@media(min-width:650px){
    .title-heading{
        padding:180px 0 0 0;
    }
}

@media(min-width:880px){
    .title-heading{
        padding:200px 0 0 0;
        border:none;
        font-size: 6.5rem;
    }
    .title-heading-subtitle{
        text-align:center;
        font-family: 'Oxygen Mono', monospace;
        font-size: 2.5rem;
    }
}

@media(min-width:1150px){
    .title-heading{
        font-size: 8rem;
        padding:220px 0 0 0;
    }
    .title-heading-subtitle{
        font-size: 3.5rem;
    }
}